body, html {
 
  background: #F3F5FC;
 margin: 0px;
  position: relative;

}

body {
  --green-msg: #04d361; 
  --font-color:#0A3871;
  --dark-font:#121219;
  --white-font: #e5e5e5;  
  --content-bg: #fff;
  --content-border: #e5e5e5; 
  --hover-border: #121214;
  --hover-button: #04d361;
  --border-button:#0A3871;
  --bg-button-en:#0A3871;
  --bg-button:#D8DFE8;  
  --bg:#e5e5e5; 
}


button {
  padding: 2rem;
  width: 25.8rem ;
  cursor: pointer;
  border: 1px solid var(--border-button);
  border-radius: 3.2rem;
  color: var(--font-color);
  font-weight: bold;
  font-size: 3rem;
  background: var(--bg-button);
  transition: 300ms;
}

button:hover {
  transform: scale(1.03);
  filter: brightness(1.2)
}

button:active {
  background-color: var(--hover-button);
  border: 1px solid var(--hover-border);
  color: var(--hover-border);
}


footer a {
  display: flex;
  width: 100%;
  color: var(--dark-font);
  
  text-decoration: none;
  margin: 4rem 10rem 10rem;
  transition: 500ms;
}

footer a:hover {
  text-decoration: underline;
  color: blue;
}


#main {
display: flex;
/*justify-content: center;*/
flex-wrap: wrap;
position: absolute;
width: 680px;
height: 48px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */


/* Dark blue/dark-blue-300 */

color: #0A3871;
}

.mode-button {
  padding: 0;
  width: 11rem;
  height: 3rem;
}



.box-button-cont {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  min-width: 100%;
  min-height: 67px;
}

.btn-encrypt {
  border: solid;
   color: var(--white-font);
  text-align: center;
  

  padding: 24px;

   position: static; 


/* Dark blue/dark-blue-300 */

  background: #0A3871;


/* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;

  

}

.btn-decrypt {
  cursor: pointer;
  border: 1px solid var(--border-button);
  border-radius: 3.2rem;
  color: var(--font-color);
  font-weight: bold;
  font-size: 3rem;
  transition: 300ms;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  
  position: static;
 
  
  /* Light gray */
  
  background: #D8DFE8;
   
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;

}

.divImgBoneco{
  display: flex;
  position: absolute;

   margin: -5rem 64rem 10rem;


}

.alura{
  display: flex;
  position: absolute;

   margin: 3rem 5rem 10rem;


}


.textoAbaixoBoneco{
  position: absolute;
  width: 55%;

  margin: -30rem 64rem 10rem;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

textarea:focus { 
  outline: none;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

.content3 {
resize: none;
border-radius: 3.2rem;
 border: none;
 margin-top: -7.5rem;
 margin-left: -0.1rem;
 padding: 2rem;
 width: 54rem;
 height: 41rem;
 background:  #F3F5FC;
 color: #495057;

 overflow: hidden;



font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */


color: #0A3871;



}

.textoAbaixoBoneco2{
  position: absolute;
  width: 55%;
 
  margin: -20rem 65.1rem 10rem;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;


color: #495057;


/* Inside auto layout */

flex: none;
order: 5;
align-self:center;
flex-grow: 0;
}

.painel{
  display: flex;
  
}

.textoPrincipal{
   margin-top: -1rem;
  margin-left: -0.1rem;
  padding: 2rem;
  width: 54rem;
  height: 30rem;
}
.content4 {
  position: absolute;
  resize: none;
  border-radius:  32px;
 /*border: 1px solid var(--content-border);*/
  
 overflow: hidden;
 color: #495057;
 font-family: 'Inter', sans-serif;
font-size: 24px;

margin-top: -10rem;
  padding: 2rem;

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius:  32px;


width: 400px;
height: 800px;
left: 1000px;
top: 40px;



/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;


}

.dentroResultado{
  position: static;
width: 336px;
height: 58px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.content5 {
  position: relative;
		margin: -23rem -0.19rem 10rem;
    padding: 0rem 0rem 0rem;
  width: 25rem;
  height: 25rem;
  
}

.box-result {
  overflow-y: auto;
  overflow-x:hidden;
  width: 21.7rem;
  height: 40.0rem;
}


.box-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  height: 10.7rem;
}

.btn-copy {
  position: absolute;
 display: none;

  margin: -8rem 64rem 10rem;
  



  cursor: pointer;
  border: 1px solid var(--border-button);
  border-radius: 3.2rem;
  color: var(--font-color);
  font-weight: bold;
  font-size: 3rem;
  transition: 300ms;

  /* Auto layout */
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  
 
  
  /* Light gray */
  
  background: #D8DFE8;
   
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;

  
}

.msgCopiado { 
  position: absolute;
  display: none;
  width: 100%;
   margin: 1rem 62rem 10rem;

  display: none;
 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;

}
